@use "../../sass/abstracts" as *;

.shopItem {
  width: 90%;
  flex: 0 0 22%;
  border: $thin-border-black;
  font-weight: 400;
  display: flex;
  align-items: center;
  padding: 1rem;
  position: relative;

  &_finished {
    border: none;

    &:after {
      // transform: scale(1.02);
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: $green-gradient;
      background-size: 300% 300%;
      // clip-path: polygon(
      //   0% 100%,
      //   3px 100%,
      //   3px 3px,
      //   calc(100% - 3px) 3px,
      //   calc(100% - 3px) calc(100% - 3px),
      //   3px calc(100% - 3px),
      //   3px 100%,
      //   100% 100%,
      //   100% 0%,
      //   0% 0%
      // );
    }
    &:after {
      animation: frame-enter 1s forwards ease-in-out reverse, gradient-animation 4s ease-in-out infinite;
    }
  }

  &_img {
    aspect-ratio: 1 / 1;
    max-width: 4rem;
    max-height: 4rem;
    margin: 0.2rem;

    @media only screen and (max-width: 1500px) {
      display: none;
    }
  }
  &_textBox {
    flex: 1 0 40%;
    margin: 0.2rem;
  }
  &_h3 {
    margin-bottom: 0.5rem;
    font-weight: 600;
  }
  &_p {
  }
  &_infoBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
  }
  &_price {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
  }
  &_buyBtn {
    font-weight: 500;

    padding: 0.3rem min(1rem, 0.75vw);
    margin-top: 1rem;

    border-radius: 1rem;
    border: $thin-border-black;

    font-size: clamp(0.5rem, 2px + 0.75vw, 2rem);

    &_paragraf {
      // padding: 1% 30% 0 30%;
      padding: 1% clamp(1rem, -10rem + 40vw, 5rem);
      text-align: center;
    }

    cursor: pointer;
    @include button-hover-up;
    @include button-click;
  }

  &_upgrades &_buyBtn {
    background-color: $pastel-orange;
  }
  &_items &_buyBtn {
    background-color: $pastel-yellow;
  }
  &_quests &_buyBtn {
    background-color: $pastel-green;
  }
}
/* motion */
@keyframes gradient-animation {
  0% {
    background-position: 00% 0%;
  }
  50% {
    background-position: 150% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}

@keyframes frame-enter {
  0% {
    clip-path: polygon(
      0% 100%,
      3px 100%,
      3px 3px,
      calc(100% - 3px) 3px,
      calc(100% - 3px) calc(100% - 3px),
      3px calc(100% - 3px),
      3px 100%,
      100% 100%,
      100% 0%,
      0% 0%
    );
  }
  25% {
    clip-path: polygon(
      0% 100%,
      3px 100%,
      3px 3px,
      calc(100% - 3px) 3px,
      calc(100% - 3px) calc(100% - 3px),
      calc(100% - 3px) calc(100% - 3px),
      calc(100% - 3px) 100%,
      100% 100%,
      100% 0%,
      0% 0%
    );
  }
  50% {
    clip-path: polygon(
      0% 100%,
      3px 100%,
      3px 3px,
      calc(100% - 3px) 3px,
      calc(100% - 3px) 3px,
      calc(100% - 3px) 3px,
      calc(100% - 3px) 3px,
      calc(100% - 3px) 3px,
      100% 0%,
      0% 0%
    );
  }
  75% {
    -webkit-clip-path: polygon(
      0% 100%,
      3px 100%,
      3px 3px,
      3px 3px,
      3px 3px,
      3px 3px,
      3px 3px,
      3px 3px,
      3px 0%,
      0% 0%
    );
  }
  100% {
    -webkit-clip-path: polygon(
      0% 100%,
      3px 100%,
      3px 100%,
      3px 100%,
      3px 100%,
      3px 100%,
      3px 100%,
      3px 100%,
      3px 100%,
      0% 100%
    );
  }
}
