@use "../abstracts/index" as *;

////////////////////////////////
/// MARK: Base typography
body {
  font-family: "Archivo", sans-serif;
  font-weight: 100;
}

////////////////////////////////
/// MARK: Homepage content

////////////////////////////////
/// MARK: Game Page content
.pagination {
  font-size: 2.5rem;
}

////////////////////////////////
/// MARK: button 2d animated

////////////////////////////////
/// MARK: color smallbox

////////////////////////////////
/// MARK: shop item
.shop {
  &__p {
    font-size: clamp(0.5rem, 0.2rem + 1vw, 1rem);
  }
  &__buy-box {
    font-weight: 700;
  }
  &__price {
  }
  &__buy-btn {
  }
}
