@use "../abstracts/index" as *;

body {
  font-family: "Archivo", sans-serif;
  font-weight: 100;
}

.header {
  .logo {
    &__img {
    }

    &__text {
      font-family: "Caprasimo", cursive;
      font-size: 3rem;
      font-weight: inherit;
    }
  }

  .nav {
    flex: 1;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    margin-right: 2rem;

    &__item {
      font-weight: 600;
      font-size: 2rem;

      & a,
      & a:link,
      & a:visited {
      }
    }
  }
}
.content {
  .starter {
    &__header {
      font-family: "Caprasimo", cursive;
      font-size: 4rem;
      font-weight: inherit;
    }
    &__paragraf {
      font-size: 1.5rem;
      line-height: 160%;
    }
  }
}
.btn-2d {
  color: rgba($main-black, 0.7);
  font-size: 1.1rem;
  font-weight: 500;
}
.showcase {
  &__item {
    &--1 {
    }
    &--2 {
    }
    &--3 {
    }
  }
  &__lvl {
  }
  &__image {
  }
}
