$main-white: #fff;
$main-black: #000;
$main-grey: #424242;
$main-beige: #faebd7;

$pastel-green: #bcff93;
$pastel-yellow: #fff493;
$pastel-orange: #eeb96a;

$main-border-black: solid 0.4rem $main-black;
$thin-border-black: solid 0.2rem $main-black;
$thinest-border-black: solid 0.15rem $main-black;
$active-border-black: dotted 0.2rem $main-black;
$transparent-border: solid 0.2rem rgba(0, 0, 0, 0);
