@use "../../sass/abstracts" as *;
.streak {
  position: absolute;
  font-family: "Gasoek One", sans-serif;
  font-size: clamp(1rem, 2vh + 2vw, 3rem);
  color: white;
  // filter: drop-shadow(2px 2px 1px rgba(black, 0.5));
  top: 20%;
  left: 60%;
}
