@use "../sass/abstracts/index" as *;

.content {
  height: auto;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}

.authForm {
  background: $main-white;
  padding: 5%;

  border: $medium-border-black;
  width: 40%;
  height: 40%;
  display: flex;
  flex-direction: column;
  gap: 5%;
  justify-content: center;
  *:first-child {
    margin-top: 0;
  }

  & h2 {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  & .inputContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5%;
    margin-top: 3%;

    & .input {
      position: relative;
      //   margin-top: 5%;
      width: 100%;
      &_label {
        position: absolute;
        left: 0;
        top: 0;
        padding: 0 0.5rem;
        margin: 0 0.5rem;
        white-space: nowrap;
        transform: translate(0, 0);
        transform-origin: 0 0;
        background: $main-white;
        transition: transform 120ms ease-in;
        font-weight: bold;
        line-height: 1.2;
      }
      &_field {
        box-sizing: border-box;
        display: block;
        width: 100%;
        border: 3px solid currentColor;
        padding: 1rem 0.75rem;
        color: currentColor;
        background: transparent;
        font-family: "Archivo", sans-serif;
        font-weight: 800;
        &:focus {
          outline: none;
        }
        &:focus,
        &:not(:placeholder-shown) {
          & + .input_label {
            transform: translate(0.25rem, -90%) scale(0.8);
            // color: $main-beige;
            // filter: drop-shadow(0 0 1px black);
            background: transparent;
          }
        }
      }
    }
  }

  & .button_group {
    margin-top: 3%;

    & button {
      color: currentColor;
      padding: 0.5rem 1rem;
      border: $thin-border-black;
      border-radius: 0.5rem;
      font-weight: 500;
      font-family: "Caprasimo", cursive;
      font-size: 1rem;
      margin: 1%;
      cursor: pointer;
      @include button-hover-up;
      @include button-click;
    }
    & .green {
      background: $pastel-green;
    }
    & .yellow {
      background: $pastel-yellow;
    }
    & .orange {
      background: $pastel-orange;
    }
  }
}
