@use "../sass/abstracts/index" as *;

.content {
  height: auto;
  flex: 1;

  display: flex;
  flex-wrap: wrap;
  background-color: $main-beige;
  .starter {
    flex: 1 1 40%;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    &__header {
      font-family: "Caprasimo", cursive;
      font-size: max(4rem, 2.5vw + 2.5vh);
      font-weight: inherit;
    }
    &__paragraf {
      padding: 5% 20% 0 20%;
      font-size: max(1.5rem, 1vw + 1vh);
      line-height: 160%;
    }
    @media only screen and (max-width: 1000px) {
      &__paragraf {
        // padding: 1% 30% 0 30%;
        padding: 1% clamp(1rem, -10rem + 40vw, 100rem);
        text-align: center;
        font-size: 1.75rem;
        line-height: 130%;
      }
    }
  }
}
