@use "../sass/base/animations" as *;
@use "../sass/abstracts/index" as *;

// BUTTON WITH 2 text blocks
.btn2d {
  background-color: $main-white;

  margin-left: 6rem;
  margin-top: 1rem;
  width: 8rem;
  height: 2.5rem;
  position: relative;
  @include border-active-black;
  border: solid 0.15rem $main-black;

  overflow: hidden;

  color: rgba($main-black, 0.7);
  font-size: 1.3rem;
  font-weight: 500;
  cursor: pointer;
  & > * {
    display: inline-block;
    height: 100%;
    width: 100%;
    transition: all 0.2s;
    padding-top: 0.4rem;
  }
  &_invisible {
    position: absolute;
    left: 0;
    top: -100%;
  }
  &:active {
    animation: 0.2s buttonClick;
  }
  &:hover &_visible {
    transform: translateY(100%);
  }
  &:hover &_invisible {
    top: 0;
  }
  @media only screen and (max-width: 1000px) {
    margin-left: 0;
  }
}
