.color-smallbox {
  width: 7rem;
  height: 2.25rem;
  border: $thin-border-black;

  display: flex;
  align-items: center;
  justify-content: center;
  // @media only screen and (max-width: 900px) {
  //   left: 70%;
  //   width: 6rem;
  //   height: 2rem;
  // }
  &--home {
    position: absolute;
    top: -7%;
    left: calc(30% + 10vw);
    @media only screen and (max-width: 600px) {
      left: calc(10% + 10vw);
      width: 5rem;
      height: 1.75rem;
    }
  }
  &--green {
    background-color: $pastel-green;
  }
  &--yellow {
    background-color: $pastel-yellow;
  }
  &--orange {
    background-color: $pastel-orange;
  }

  &--btn {
    box-sizing: border-box;
    width: 9rem;
    cursor: pointer;

    @media only screen and (max-width: 600px) {
      left: calc(10% + 10vw);
      width: 5rem;
      height: 1.75rem;
    }
    @include button-hover-up;
    @include button-click;
  }
  @include button-hover-opacity;
}
