@use "../sass/abstracts/index" as *;

.footer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex: 0 0 5%;
  border-top: $main-border-black;
  background-color: $main-white;
  &__text {
  }
  &__icons-box {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    margin-right: 2rem;
  }

  &__icon {
    box-sizing: border-box;
    width: 3rem;
    margin: 0.2rem;
    @include border-active-black;
    cursor: pointer;
  }
  @media only screen and (max-width: 1000px) {
    justify-content: center;
  }
}
