.color-smallbox {
  width: 7rem;
  height: 2.25rem;
  border: $thin-border-black;

  display: flex;
  align-items: center;
  justify-content: center;
  // @media only screen and (max-width: 900px) {
  //   left: 70%;
  //   width: 6rem;
  //   height: 2rem;
  // }

  &--green {
    background-color: $pastel-green;
  }
  &--yellow {
    background-color: $pastel-yellow;
  }
  &--orange {
    background-color: $pastel-orange;
  }
}
