@use "../abstracts/index" as *;
@import "./color-smallbox";
.content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;

  .clicker {
    background-color: $main-white;
    height: 80%;
    width: 40%;
    border: $medium-border-black;

    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;

    &__cat-img {
      margin: 0 auto;
      width: 25rem;
      height: auto;
    }
  }
  .lvl {
    &__current {
    }
    &__bar {
    }
  }
  .shop {
    background-color: $main-white;
    height: 80%;
    width: 20%;
    border: $medium-border-black;

    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: start;
    &__header {
      display: flex;
      justify-content: center;
      gap: 5%;

      position: relative;
      top: -3%;
      left: -8%;
      width: 120%;
    }
    &__main {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: clamp(1rem, 2vh, 3rem);
      height: 100%;
    }
    &__item {
      width: 90%;
      flex: 0 0 18%;
      border: $thin-border-black;

      display: flex;
      align-items: center;
      &--upgrade {
      }
      &--shop {
      }
      &--quest {
      }
    }
    &__img {
      aspect-ratio: 1 / 1;
      max-width: 4rem;
      max-height: 4rem;
      margin: 0.2rem;
    }
    &__text-box {
      flex: 1 0 40%;
    }
    &__h3 {
    }
    &__p {
    }
    &__buy-box {
      display: flex;
      flex-direction: column;
      align-items: center;
      flex: 1;
      padding-right: 0.5rem;
    }
    &__price {
    }
    &__buy-btn {
      padding: 0.4rem 2rem;
      margin-top: 1rem;

      background-color: $pastel-yellow;
      border-radius: 1rem;
      border: $thin-border-black;

      cursor: pointer;
      @include button-hover;
    }
  }

  .pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;

    margin-top: auto;
    height: 6rem;
    color: $main-black;
    & > * {
      cursor: pointer;
      transition: all 0.2s;
    }
    & > *:hover:not(&--inactive) {
      filter: drop-shadow(0 0 5px $main-grey);
      font-size: 3rem;
    }

    &--inactive {
      color: rgba($main-black, 0.2);
      cursor: default;
    }
  }
}
.color-smallbox {
  box-sizing: border-box;
  width: 9rem;
  cursor: pointer;

  @media only screen and (max-width: 600px) {
    left: calc(10% + 10vw);
    width: 5rem;
    height: 1.75rem;
  }
  @include button-hover;
}
