@use "../abstracts/index" as *;
@import "./color-smallbox";
.content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;

  .clicker {
    background-color: $main-white;
    height: 80%;
    width: 40%;
    border: $medium-border-black;

    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;

    &__cat-img {
      margin: 0 auto;
      width: 25rem;
      height: auto;
    }
  }
  .lvl {
    &__current {
    }
    &__bar {
    }
  }
  .shop {
    background-color: $main-white;
    height: 80%;
    width: 20%;
    border: $medium-border-black;

    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: start;
    &__header {
      display: flex;
      justify-content: center;
      gap: 5%;

      position: relative;
      top: -3%;
      left: -8%;
      width: 120%;
    }
    &__main {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: clamp(1rem, 2vh, 3rem);
      height: 100%;
    }
    &__item {
      width: 90%;
      flex: 0 0 22%;
      border: $thin-border-black;

      display: flex;
      align-items: center;
      &--upgrade {
      }
      &--shop {
      }
      &--quest {
      }

      padding: 1rem;
    }
    &__img {
      aspect-ratio: 1 / 1;
      max-width: 4rem;
      max-height: 4rem;
      margin: 0.2rem;

      @media only screen and (max-width: 1500px) {
        display: none;
      }
    }
    &__text-box {
      flex: 1 0 40%;
      margin: 0.2rem;
    }
    &__h3 {
    }
    &__p {
    }
    &__buy-box {
      display: flex;
      flex-direction: column;
      align-items: center;
      flex: 1;
    }
    &__price {
    }
    &__buy-btn {
      padding: 0.3rem min(1.75rem, 1vw);
      margin-top: 1rem;

      background-color: $pastel-yellow;
      border-radius: 1rem;
      border: $thin-border-black;

      font-size: clamp(0.5rem, 3px + 0.75vw, 20rem);

      &__paragraf {
        // padding: 1% 30% 0 30%;
        padding: 1% clamp(1rem, -10rem + 40vw, 100rem);
        text-align: center;
      }

      cursor: pointer;
      @include button-hover;
      @include button-click;
    }
  }

  .pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;

    margin-top: auto;
    height: 6rem;
    color: $main-black;
    & > * {
      cursor: pointer;
      transition: all 0.2s;
    }
    & > *:hover:not(&--inactive) {
      filter: drop-shadow(0 0 5px $main-grey);
      font-size: 3rem;
    }
    & > *:active:not(&--inactive) {
      filter: drop-shadow(0 0 5px rgba($main-grey, 0.5));

      font-size: 2.75rem;
    }
    &--inactive {
      color: rgba($main-black, 0.2);
      cursor: default;
    }
  }
}
.color-smallbox {
  box-sizing: border-box;
  width: 9rem;
  cursor: pointer;

  @media only screen and (max-width: 600px) {
    left: calc(10% + 10vw);
    width: 5rem;
    height: 1.75rem;
  }
  @include button-hover;
  @include button-click;
}
