@use "../abstracts/index" as *;

.content {
  display: flex;

  .starter {
    width: 50%;

    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    padding: 7% 10%;
    padding-right: 15%;
    &__header {
    }
    &__paragraf {
      margin: 2rem 3rem 2rem 0;
    }

    &__btn {
      margin-left: 6rem;
      color: rgba($color: $main-black, $alpha: 0.7);
      width: 8rem;
      height: 2.5rem;
      @include border-active-black;
      border: solid 0.15rem $main-black;
      background-color: $main-white;

      transition: box-shadow 0.2s;
      &:hover {
        box-shadow: inset 0 0 0.5rem $main-grey;
      }
    }
  }

  .showcase {
    width: 50%;

    &__item {
      &--1 {
      }
      &--2 {
      }
      &--3 {
      }
    }
    &__lvl {
    }
    &__image {
    }
  }
}
