@use "../abstracts/index" as *;
@import "./btn-2d";
@import "./color-smallbox";
.content {
  .starter {
    flex: 1 1 40%;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    &__header {
    }
    &__paragraf {
      padding: 5% 20% 0 20%;
    }
    @media only screen and (max-width: 1000px) {
      &__paragraf {
        // padding: 1% 30% 0 30%;
        padding: 1% clamp(1rem, -10rem + 40vw, 100rem);
        text-align: center;
      }
    }
  }

  .showcase {
    position: relative;
    display: flex;
    width: 60%;
    height: auto;

    &__item {
      position: absolute;
      width: calc(15rem + 10%);
      border: $thin-border-black;
      &--1 {
        top: 10%;
        left: 10%;
      }
      &--2 {
        top: 25%;
        left: 30%;
      }
      &--3 {
        top: 40%;
        left: 50%;
      }
    }

    &__image {
      width: 100%;
      height: auto;
    }
    @media only screen and (max-width: 1000px) {
      width: 100%;
      align-items: center;
      justify-content: center;
      gap: 5%;
      &__item {
        position: relative;
        width: 25%;
        top: 0;
        left: 0;
      }
      &__image {
        width: 100%;
        height: auto;
      }
    }
  }
}
.color-smallbox {
  position: absolute;
  top: -7%;
  left: calc(30% + 10vw);
  @media only screen and (max-width: 600px) {
    left: calc(10% + 10vw);
    width: 5rem;
    height: 1.75rem;
  }
}
