@use "../../sass/abstracts" as *;

.clicker {
  background-color: $main-white;
  height: 90%;
  width: 55%;
  border: $medium-border-black;
  overflow: hidden;
  display: flex;
  text-align: center;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;

  position: relative;
  &_catImg {
    margin: 0 auto;
    height: calc(15vh + 10vw);
    width: auto;

    cursor: pointer;
    transition: transform 0.07s;
  }
}
.lvl {
  display: flex;
  align-items: center;
  justify-content: center;

  // margin-top: 3rem;
  position: relative;
  &_current {
    background-color: $main-beige;
    border: $thin-border-black;
    border-radius: 1rem;
    padding: 0.75rem 1rem;
    position: absolute;
    top: -0.8rem;
    left: -3rem;
  }
  &_bar {
    width: 20rem;
    height: 1.75rem;
    border: $thin-border-black;
    overflow: hidden;

    // display: flex;
    // align-items: center;
    // justify-content: center;
    & .percentage {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    & .fill {
      background-color: $pastel-green;
      width: 0%;
      height: 100%;
      align-self: flex-start;
    }
  }
}
