@use "../../sass/abstracts" as *;

.item_box {
  position: absolute;

  width: 20%;
  height: 10%;
  & img {
    position: absolute;

    transition: 0.1s all;
    &:hover {
      transform: scale(1.05);
      filter: drop-shadow(0 0 5px black);
      z-index: 10;
    }
  }
}
