@use "../../sass/abstracts" as *;

.skinSelector {
  background-color: $main-white;
  height: 25%;
  width: 10%;
  padding: 0.5rem;
  border: $medium-border-black;
  display: flex;
  justify-content: center;
  flex-direction: column;
  & h1 {
    margin-inline: auto;
  }
  & .skinsBox {
    flex: 1;
    padding: 3%;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: center;
    gap: 2%;
    .skinItem {
      height: 20%;
      flex: 0 0 25%;
      background-color: red;
      border: $thin-border-black;
      cursor: pointer;
      &:hover {
        box-shadow: 0 0 5px black;
      }
    }
    .locked {
      opacity: 0.2;
      cursor: auto;
      &:hover {
        box-shadow: none;
      }
    }
  }
}
